@import "../../global.less";

.summary {
  margin-top: 0.2rem;
  padding: 2.3rem;
  border-radius: 0.2rem 0.2rem 0.7rem 0.7rem;
  background: var(--color-background-100);
  box-shadow: 0 1.2rem 2.4rem var(--movie-summary-shadow);
  cursor: pointer;
}

.summary h2 {
  margin-bottom: 0.6rem;
  text-transform: uppercase;
  font-size: 1.6rem;
}

.summary div {
  .flex_layout(@gap: 1.4rem);
  font-size: 1.6rem;
  font-weight: 600;
}

.summary p {
  .flex_layout(@gap: 1rem, @justify: space-between);
}

@media only screen and (max-width: 768px) {
  .summary div {
    display: block;
  }

  .summary p span:first-child {
    width: 3rem;
    text-align: center;
  }

  .summary p {
  .flex_layout(@gap: 1rem);
  }
}
