@import "../../global.less"; 

.movie-container {
    position: relative;
    padding-top: 4rem;
    transition: ease-in-out 0.3s;
    width: 100%;
    min-width: 20rem;
    border-radius: 0.9rem;
    background: var(--movie-container-bg-color);

    .header {
      .flex_layout(@align: center, @justify: space-between);
      position: absolute;
      z-index: 1;
      top: 0;
      padding: 1rem;
      width: 100%;
      height: 4rem;
      border-radius: 0.9rem 0.9rem 0 0 ;
      background: var(--box-header-bg-color);
      box-shadow: 0 2px 5px 0 var(--box-header-shadow);
      cursor: default;

      .btn-drag {
        background: none;
        border: none;
      }
      .btn-toggle {
        width: 2.6rem;
        height: 2.6rem;
        border-radius: 50%;
        font-size: 1.4rem;
        color: var(--color-white);
        background: var(--color-btn-toggle);
        .button_basics(var(--color-text), var(--color-primary));
      }
    }

    .body {
      overflow-y: scroll;
      overflow-x: hidden;
      height: 100%;
    }
  }

  @media only screen and (max-width: 768px) {
    .movie-container {
      border-radius: 0.6rem;
    }
  }
  