.box {
  overflow: auto;
  position: relative;
  transition: ease-in-out 0.2s;
  width: 42rem;
  max-width: 42rem;
  background-color: var(--color-background-500);
  border-radius: 0.9rem;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}
