@import "../../global.less"; 

.box {
  overflow: auto;
  position: relative;
  transition: ease-in-out 0.2s;
  width: 100%;
  background-color: var(--color-background-500);
  border-radius: 0.9rem;
  
  .box-header {
    .flex_layout(@align: center);
    height: 4rem;
    padding: 0 0.5rem;
    background: var(--box-header-bg-color);
    box-shadow: 0 2px 5px 0 var(--box-header-shadow);
  }
  &:active {
    cursor: grabbing;
  }
}
